/*
 * The base theme for the editor viewport.
 * New themes should use this as a base, extending or changing the properties defined here.
 */
.fnk-viewer {
	background: #f2f2f2;
	overflow: auto;
	position: relative;
}

.fnk-viewer-background {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	/* Unselectable */
	/* Doesn't work on MSIE 9, Opera 11.6 */
	-ms-user-select: none; /* Starting in MSIE 10 */
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.fnk-node {
	border: 2px solid #a4a4a4;
	display: block;
	position: absolute;
	border-radius: 4px;
	width: 100px;
	height: 40px;
	padding: 0px;

	background: #ffffff;
	color: #000000;

	/* Drop shadow */
	box-shadow: 0 0 5px #d0d0d0;

	/* Unselectable */
	/* Doesn't work on MSIE 9, Opera 11.6 */
	-ms-user-select: none; /* Starting in MSIE 10 */
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	user-select: none;
}

.fnk-node-movable {
	cursor: move;
}

.fnk-node-unselected {
}

.fnk-node-selected {
	/* -webkit-filter: brightness(-0.2); */
	background: #cccccc;
	border-color: #999999;
}

.fnk-node-bar-move {
	position: absolute;
	background-image: url('../images/pattern_dotted_000000.png');
	background-position: top left;
	background-repeat: repeat;
	width: 9px;
	top: 1px;
	bottom: 1px;
	left: 1px;
	opacity: 0.4;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;

	cursor: move;
}

.fnk-node-bar-resize {
	position: absolute;
	background-image: url('../images/pattern_diagonal_000000.png');
	background-position: top right;
	width: 9px;
	top: 1px;
	bottom: 1px;
	right: 1px;
	opacity: 0.4;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;

	cursor: nw-resize;
}

.fnk-node-content {
	position: absolute;
	top: 0px;
	bottom: 0px;
	top: 1px;
	bottom: 1px;

	border-radius: 1px;

	left: 1px;
	right: 1px;
	overflow: hidden;

	font-family: sans-serif;
	font-size: 12px;
	color: #222;

	pointer-events: none;
}

.fnk-node-content-movable {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	left: 11px;
}

.fnk-node-content-resizable {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	right: 11px;
}

.fnk-node-content-text {

}

.fnk-node-connector {
	position: absolute;
	width: 4px;
	height: 4px;

	border: 2px solid #a4a4a4;
	border: 0px solid #ff0000;
	border-radius: 2px;
	background: #cccccc;
	color: #000000;
}

.fnk-node-connector-input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.fnk-node-connector-output {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fnk-link {
	stroke: #000000;
}

/* Dark theme */

/*
.fnk-viewer {
	background: #22282a;
}

.fnk-node {
	border-top-color: #444444;
	border-bottom-color: #444444;
	border-left-color: #444444;
	border-right-color: #444444;

	box-shadow: 0 0 5px #111111;

	background: #303030;
	color: #e0e0e0;
}

.fnk-link {
	stroke: #999999;
}
*/